$themes-colors: (
  'purple': (
    'dark-primary': #512DA8,
    'light-primary': #D1C4E9,
    'primary': #D1C4E9 ,
    'secondary' : #FFFFFF,
    'links' : #E040FB,
    "primary-text" : #212121,
    "secondary_text" : #757575,
    "dividers" : #BDBDBD 
  ),
  'light-blue': (
    'dark-primary': #1976D2,
    'light-primary': #BBDEFB,
    'primary': #2196F3,
    'secondary' : #FFFFFF,
    'links' : #03A9F4,
    "primary-text" : #212121,
    "secondary-text" : #757575,
    "dividers" : #BDBDBD
  ),
  'dark-blue': (
    'dark-primary': #303F9F,
    'light-primary': #C5CAE9,
    'primary': #3F51B5,
    'secondary' : #FFFFFF,
    'links' : #448AFF,
    "primary-text" : #212121,
    "secondary_text" : #757575,
    "dividers" : #BDBDBD
  ),
  'dark-green': (
    'dark-primary': #00796B,
    'light-primary': #B2DFDB,
    'primary': #009688,
    'secondary' : #FFFFFF,
    'links' : #4CAF50,
    "primary-text" : #212121,
    "secondary_text" : #757575,
    "dividers" : #BDBDBD
  ),
  'light-green': (
    'dark-primary': #689F38,
    'light-primary': #DCEDC8,
    'primary': #8BC34A,
    'secondary' : #FFFFFF,
    'links' : #CDDC39,
    "primary-text" : #212121,
    "secondary_text" : #757575,
    "dividers" : #BDBDBD
  ),
  'orange': (
    'dark-primary': #E64A19,
    'light-primary': #FFCCBC,
    'primary': #FF5722,
    'secondary' : #FFFFFF,
    'links' : #FF5722,
    "primary-text" : #212121,
    "secondary_text" : #757575,
    "dividers" : #BDBDBD
  ),
  'grey': (
    'dark-primary': #455A64,
    'light-primary': #CFD8DC,
    'primary': #607D8B,
    'secondary' : #FFFFFF,
    'links' : #9E9E9E,
    "primary-text" : #212121,
    "secondary_text" : #757575,
    "dividers" : #BDBDBD
  )
);

$aside-colors: (
  'aside-dark': (
    'bg': #2b3e50,
    'color' : #B8C7CE,
    'hover-bg' : #1E282E,
    'hover-color' : #FFFFFF,
    'sub-bg' : #37485B,
    'sub-color' : #B3B3B3,
    'sub-hover' : #FFFFFF,
    'header-bg' : #1A2221,
    'header-color' : #D3D3D3
  )
);