aside{
	position: absolute;
    top: 0;
    left: 0;
    padding-top: 48px;
    min-height: 100%;
    width: 256px;
    background-color: red;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    z-index: 10;
}