aside{
	position: absolute;
    top: 0;
    left: 0;
    padding-top: $topbar-normal-height;
    min-height: 100%;
    width: $aside-normal-width;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    z-index: 10;

    ul{
    	list-style-type: none;

    	li{
		    padding: 5px;
		    list-style-type: none;

		    i.icon{
		    	float: left;
		    	margin-top: 2px;
		    }

		    .name{
		    	padding-left: 26px;
		    }

		    .li-arrow{	
			    float: right;
			    margin-left: 5px;
		    }

		    .li-badge{
		    	float: right;
			    background-color: red;
			    border-radius: 28%;
			    padding: 0 5px;
			    color: #fff;
		    }
    	}
    }
}

@mixin asidePainting($theme, $colors) {

  $bg  			: 		map-get($colors, "bg");
  $color		: 		map-get($colors, "color");
  $hover-bg		: 		map-get($colors, "hover-bg");
  $hover-color	: 		map-get($colors, "hover-color");
 

  .#{$theme} {

	background-color: $bg;
		
	ul{
    	li{

    		&:hover{
    			background-color: $hover-bg;
    			color: $hover-color;
    			cursor: pointer;
    		}

    		.name{
    			color: $color;
    		}
    	}
    }

    .fa{
		color: $color;
    }
  }
}

@each $theme, $colors in $aside-colors{
	@include asidePainting($theme, $colors);
}