aside{
	position: absolute;
    top: 0;
    left: 0;
    padding-top: $topbar-normal-height;
    min-height: 100%;
    width: $aside-normal-width;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    z-index: 10;

    ul{
    	list-style-type: none;

    	li{
		    list-style-type: none;

		    a{
		    	padding: 10px;
		    	display: block;

		    	i.icon{
			    	float: left;
			    	margin-top: 2px;
			    }

			    .name{
			    	padding-left: 26px;
			    }

			    .li-arrow{	
				    float: right;
				    margin-left: 5px;   
				    padding-top: 3px;
			    }

			    .li-badge{
			    	float: right;
				    background-color: red;
				    border-radius: 28%;
				    padding: 0 5px;
				    color: #fff;
			    }
		    }
    	}
    }

    .fa{
    	float: left;
    }
}

@mixin asidePainting($theme, $colors) {

  $bg  			: 		map-get($colors, "bg");
  $color		: 		map-get($colors, "color");
  $hover-bg		: 		map-get($colors, "hover-bg");
  $hover-color	: 		map-get($colors, "hover-color");
 

  .#{$theme} {

	background-color: $bg;
		
	ul{
    	li{

    		a{
    			border-left: 2px solid transparent;

	    		&:hover{
	    			background-color: $hover-bg;
	    			color: $hover-color;
	    			cursor: pointer;
	    			text-decoration: none;

	    			.name, .fa{
	    				color: $hover-color;
	    			}
	    		}

				.name{
    				color: $color;
    			}
    		}
    	}
    }

    .fa{
		color: $color;
    }
  }
}

@mixin asidePaintingThemeBased($theme, $colors) {

  $dark-primary     :   map-get($colors, "dark-primary");
  $light-primary    :   map-get($colors, "light-primary");
  $primary          :   map-get($colors, "primary");
  $secondary        :   map-get($colors, "secondary");
  $links            :   map-get($colors, "links");
  $primary-text     :   map-get($colors, "primary-text");
  $secondary-text   :   map-get($colors, "secondary-text");
  $dividers         :   map-get($colors, "dividers");

	.#{$theme} {
		[class*="aside-"] {
			ul li a:hover{
		    	border-left: 2px solid $primary;
		    }
		  }
	}
 
}

@each $theme, $colors in $aside-colors{
	@include asidePainting($theme, $colors);
}

@each $theme, $colors in $themes-colors{
	@include asidePaintingThemeBased($theme, $colors);
}