main-content{
    -webkit-transition: -webkit-transform .3s ease-in-out,left .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,left .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,left .3s ease-in-out;
    transition: transform .3s ease-in-out,left .3s ease-in-out;
    position: absolute;
    top: $topbar-normal-height;
    bottom: 0;
    left: $aside-normal-width;
    right: 0;
    padding-right: $quickview-normal-width;

    &.full-size{
      padding-right: 0;
    }

    &.short-size{
      left: $aside-short-width;
    }
}

@mixin maincontentPaiting($theme, $colors) {

  $dark-primary     :   map-get($colors, "dark-primary");
  $light-primary    :   map-get($colors, "light-primary");
  $primary          :   map-get($colors, "primary");
  $secondary        :   map-get($colors, "secondary");
  $links            :   map-get($colors, "links");
  $primary-text     :   map-get($colors, "primary-text");
  $secondary-text   :   map-get($colors, "secondary-text");
  $dividers         :   map-get($colors, "dividers");

  .#{$theme} {

    main-content{

        background-color: $secondary;
        
        .wrapper {
          background-color: $dark-primary;
          color: $light-primary;

          a{
            color: $links;
          }

        }

    }
  }
}

@each $theme, $colors in $themes-colors{
    @include maincontentPaiting($theme, $colors);
}