quick-view{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: $quickview-normal-width;
  -webkit-transition: -webkit-transform .3s ease-in-out,right .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,right .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,right .3s ease-in-out;
  transition: transform .3s ease-in-out,right .3s ease-in-out;

  .quick-view-btn{
    position: absolute;
    top: 0;
    left: -38px;
    padding: 10px;
    border-radius: 0px 0px 0px 9px;
    -moz-border-radius: 0px 0px 0px 9px;
    -webkit-border-radius: 0px 0px 0px 9px;
    outline: 0;

      &:hover{
        cursor: pointer;
      }
  }

  &.normal-size{
    right: 0;
  }

  &.short-size{
    right: -$quickview-normal-width;
  }
}

@mixin quickViewPaiting($theme, $colors) {

  $dark-primary  	: 	map-get($colors, "dark-primary");
  $light-primary 	: 	map-get($colors, "light-primary");
  $primary	 		: 	map-get($colors, "primary");
  $secondary  		: 	map-get($colors, "secondary");
  $links 			: 	map-get($colors, "links");
  $primary-text  	: 	map-get($colors, "primary-text");
  $secondary-text  	: 	map-get($colors, "secondary-text");
  $dividers  		: 	map-get($colors, "dividers");

  .#{$theme} {

  	quick-view{

   		background-color: $light-primary;
  		
  		.quick-view-btn{
        color: $dark-primary;
        background-color: $light-primary;
      }

  	}
  }
}

@each $theme, $colors in $themes-colors{
	@include quickViewPaiting($theme, $colors);
}