@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import "utils/reset";
@import "themes/colors";
@import "components/dashboard/dashboard";

html, body{
	height: 100%;
	width: 100%;
	font-family: 'Titillium Web',Helvetica,Arial,sans-serif!important
}

#tc-dashboard{
	min-height: 100%;
	position: relative;
}
