<div class="qv-btn-wrapper" ng-click="toggleQuickview()">
	<i class="fa fa-lg fa-cogs quick-view-btn rotating" aria-hidden="true"></i>
</div>
<div class="qv-container">
<div class="col-md-12">
	<h4>Base theme</h4>
	<div class="col-xs-12">
		<div ng-click="changeTheme(1)" class="tc-theme tc-theme-purple">
		</div>
		<div ng-click="changeTheme(2)" class="tc-theme tc-theme-dark-blue">
		</div>
		<div ng-click="changeTheme(3)" class="tc-theme tc-theme-light-blue">
		</div>
		<div ng-click="changeTheme(4)" class="tc-theme tc-theme-dark-green">
		</div>
		<div ng-click="changeTheme(5)" class="tc-theme tc-theme-light-green">
		</div>
		<div ng-click="changeTheme(6)" class="tc-theme tc-theme-orange">
		</div>
		<div ng-click="changeTheme(7)" class="tc-theme tc-theme-grey">
		</div>
	</div>
	<h4>Aside theme</h4>
	<div ng-click="changeAsideTheme(1)" class="tc-theme tc-theme-aside-dark">
	</div>
	<div ng-click="changeAsideTheme(2)" class="tc-theme tc-theme-aside-light">
	</div>
</div>

</div>

